/*
 * Here is where you can define your custom utility classes.
 *
 * We wrap them in the `utilities` @layer directive, so
 * that Tailwind moves them to the correct location.
 *
 * More info:
 * https://tailwindcss.com/docs/functions-and-directives#layer
*/

@layer utilities {
    .break-word {
        word-break: break-word;
    }

    .m-auto {
        margin: 0px auto;
    }

    .no-line {
        text-decoration: none;
    }

	.line {
        text-decoration: underline;
    }

    .faux-absolute {
        position: relative;
        opacity: 0.999;
        max-height: 0px;
    }

	.ltr {
		direction: ltr;
	}

	.rtl {
		direction: rtl;
	}
}
